@charset "UTF-8";


@media screen and (min-width: 768px) and (max-width: 992px) {
    body{
        background-image: linear-gradient(to top, #582d66 , rgb(28, 133, 133) 100%);
    }
    #login{
        width: 90vw;
        height: 45vh;
    }
    #formulario{
        display: block;
        float: right;
        width: 65%;
        margin-bottom: 3px;
    }
    #foto{
        display: block;
        float: left;
        width: 35%;
        height: 100%;
    }
    .botao{
        width: 56vw;
        
    }
}

@media screen and (min-width: 992px) {
    body{
        background-image: linear-gradient(to top, #582d66 , rgb(28, 133, 133) 100%);
    }
    #login{
        width: 900px;
        height: 300px;
    }
    #foto{
        float: right;
        width: 50%;
        height: 100%;
    }
    .botao{
        width: 45%;
    }
    .fundo-login{
        width: 47%;
    }
}
